.widget {
  background-color: rgb(25, 135, 84);
  margin: 10px;
  border-radius: 50%;
  padding: 8px;
  border: none;
}
.widget:hover {
  background-color: #696969;
}
.contador {
  color: rgb(255, 255, 255);
  margin-left: 0.3125rem;
}
